<!DOCTYPE html>

<html lang = "en">
    <head>
        <meta charset = "utf-8">
        
        <title>Add Account Information</title>

        <link rel = "stylesheet" href = "../css/spreadsheet.css">
    </head>

    <body>
        <h1>Add Account Information</h1>

        <form>
            <label for = "type">Enter Account Type: </label>
            <input type = "text" placeholder = "type" name = "type" required/>

            <br/><br/>

            <label for = "balance">Enter Current Balance: </label>
            <input type = "text" placeholder = "balance" name = "balance" required/>

            <br/><br/>

            <label for = "interest">Enter Interest Rate: </label>
            <input type = "text" placeholder = "interest rate" name = "interest" required/>

            <br/><br/>

            <label for = "statement">Enter Bank Statement(s): </label>
            <input type = "text" placeholder = "statement" name = "statement"/>

            <br/><br/>

            <button type = "submit">Submit</button>
        </form>
        
    </body>
</html>