<!DOCTYPE html>

<html lang = "en">
    <head>
        <meta charset = "utf-8">
        
        <title>Add Account Information</title>

        <link rel = "stylesheet" href = "../css/spreadsheet.css">
    </head>

    <body>
        <h1>Add Account Information</h1>

        <div id = "addaccount_form_container"></div>
        
        <script src = "https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  		<script src = "https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

        <script src = "../javascript/addaccount.js"></script>
        
    </body>
</html>