<!DOCTYPE html>

<!--
    
Bank Management System Project In Java – The Bank Management system (BMS) is a program that allows the
Bureau of the Fiscal Service to pay financial institutions for services rendered.

BMS also has analytical tools that may be used to examine and approve pay, budgets, and outflows.

This online bank management application will provide the following services to customers:
•	Customers can view their account details such as type of account, available balance,
    the interest rate on available loans, credit/debit statements, etc. from any remote location.
•	Customers can check their transaction history that includes necessary information
    like transaction time, type, and amount.
•	It will display the amount of deposited cash or withdrawn cash along with the date of deposition/withdrawal.

-->

<html lang = "en">
    <head>
        <title>Bank Management System</title>

        <!-- <link rel = "stylesheet" href = "../css/stylesheet.css"> -->
    </head>

    <body>
        <h1>Log in to Account</h1>

        <form>
            <label for = "username">Enter Username: </label>
            <input type = "text" placeholder = "username" name = "username" required/>

            <br/><br/>

            <label for = "password">Enter Password: </label>
            <input type = "password" placeholder = "password" name = "password" required/>

            <br/><br/>

            <button type = "submit">Log In</button>
            <button>Sign Up</button>
        </form>
        
    </body>
</html>